.reclamation .btn .badge {
  position: relative;
  top: -1px;
}
.reclamation .toast-header .btn-close {
  margin-right: -0.375rem;
  margin-left: 0.75rem;
}
.reclamation .offcanvas-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}
.reclamation .placeholder.btn::before {
  display: inline-block;
  content: '';
}
.reclamation .btn-close:focus {
  box-shadow: none;
}

.reclamation .alert-dismissible .btn-close {
  background-image: none;
}

.reclamation .btn {
  margin-bottom: 1rem;
  letter-spacing: 0;
  text-transform: uppercase;
  background-size: 150%;
  background-position-x: 25%;
  position: relative;
  overflow: hidden;
}
.reclamation .btn:not([class*='btn-outline-']) {
  border: 0;
}
.reclamation .btn:active,
.reclamation .btn:active:focus,
.reclamation .btn:active:hover {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.09), 0 2px 3px -1px rgba(0, 0, 0, 0.07);
  transform: none;
  opacity: 0.85;
}
.reclamation .btn.bg-white:hover {
  color: #7b809a;
}
.reclamation .btn.btn-link {
  box-shadow: none;
  font-weight: 700;
}
.reclamation .btn.btn-link:hover,
.reclamation .btn.btn-link:focus {
  box-shadow: none;
}
.reclamation .btn.btn-round {
  border-radius: 1.875rem;
}
.reclamation .btn.btn-icon-only {
  width: 2.375rem;
  height: 2.375rem;
  padding: 0.7rem 0.7rem;
}
.reclamation .btn.btn-sm.btn-icon-only,
.reclamation .btn-group-sm > .reclamation .btn.btn-icon-only {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3rem 0.3rem;
}
.reclamation .btn.btn-sm i,
.reclamation .btn-group-sm > .btn i {
  font-size: 0.5rem;
}
.reclamation .btn.btn-lg.btn-icon-only,
.reclamation .btn-group-lg > .reclamation .btn.btn-icon-only {
  width: 3.25rem;
  height: 3.25rem;
  padding: 1rem 1rem;
}
.reclamation .btn.btn-lg i,
.reclamation .btn-group-lg > .reclamation .btn i {
  font-size: 1.2rem;
  position: relative;
  top: 0px;
}
.reclamation .btn.btn-rounded {
  border-radius: 1.875rem;
}
.reclamation .btn .material-icons {
  vertical-align: middle;
  margin-top: -1px;
  margin-bottom: -1px;
  font-size: 1.1rem;
  display: inline-block;
  top: 0;
}

.reclamation .btn-check:checked + .btn svg .color-background {
  fill: #fff;
}

.reclamation .btn-check:checked + .btn:hover svg .color-background {
  fill: #344767;
}

.reclamation .icon-move-right i {
  transition: all 0.2s cubic-bezier(0.34, 1.61, 0.7, 1.3);
}

.reclamation .icon-move-right:hover i,
.reclamation .icon-move-right:focus i {
  transform: translateX(5px);
}

.reclamation .icon-move-left i {
  transition: all 0.2s cubic-bezier(0.34, 1.61, 0.7, 1.3);
}

.reclamation .icon-move-left:hover i,
.reclamation .icon-move-left:focus i {
  transform: translateX(-5px);
}

.reclamation .btn-primary,
.reclamation .btn.bg-gradient-primary {
  box-shadow: 0 3px 3px 0 #213f77, 0 3px 1px -2px #213f77, 0 1px 5px 0 #213f77;
}
.reclamation .btn-primary:hover,
.reclamation .btn.bg-gradient-primary:hover {
  background-color: #213f77;
  border-color: #213f77;
  box-shadow: 0 14px 26px -12px #213f77, 0 4px 23px 0 #213f77, 0 8px 10px -5px #213f77;
}
.reclamation .btn-primary .btn.bg-outline-primary,
.reclamation .btn.bg-gradient-primary .btn.bg-outline-primary {
  border: 1px solid #213f77;
}
.reclamation .btn-primary:not(:disabled):not(.disabled).active,
.reclamation .btn-primary:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-primary.dropdown-toggle,
.reclamation .btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-primary.dropdown-toggle {
  color: color-yiq(#213f77);
  background-color: #213f77;
}
.reclamation .btn-primary.focus,
.reclamation .btn-primary:focus,
.reclamation .btn.bg-gradient-primary.focus,
.reclamation .btn.bg-gradient-primary:focus {
  color: #fff;
}

.reclamation .btn-outline-primary {
  box-shadow: none;
  color: #213f77;
  box-shadow: 0 3px 5px -1px #213f77, 0 2px 3px -1px #213f77;
}
.reclamation .btn-outline-primary:hover:not(.active) {
  background-color: transparent;
  opacity: 0.75;
  box-shadow: none;
  color: #213f77;
}

.reclamation .btn-secondary,
.reclamation .btn.bg-gradient-secondary {
  box-shadow: 0 3px 3px 0 rgba(123, 128, 154, 0.15), 0 3px 1px -2px rgba(123, 128, 154, 0.2),
    0 1px 5px 0 rgba(123, 128, 154, 0.15);
}

.reclamation .btn-secondary .btn.bg-outline-secondary,
.reclamation .btn.bg-gradient-secondary .btn.bg-outline-secondary {
  border: 1px solid #7b809a;
}
.reclamation .btn-secondary:not(:disabled):not(.disabled).active,
.reclamation .btn-secondary:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-secondary.dropdown-toggle,
.reclamation .btn.bg-gradient-secondary:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-secondary:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-secondary.dropdown-toggle {
  color: color-yiq(#7b809a);
}
.reclamation .btn-secondary.focus,
.reclamation .btn-secondary:focus,
.reclamation .btn.bg-gradient-secondary.focus,
.reclamation .btn.bg-gradient-secondary:focus {
  color: #fff;
}

.reclamation .btn-outline-secondary {
  box-shadow: none;
}
.reclamation .btn-outline-secondary:hover:not(.active) {
  background-color: transparent;
  opacity: 0.75;
  box-shadow: none;
  color: #7b809a;
}

.reclamation .btn-success,
.reclamation .btn.bg-gradient-success {
  box-shadow: 0 3px 3px 0 rgba(76, 175, 80, 0.15), 0 3px 1px -2px rgba(76, 175, 80, 0.2),
    0 1px 5px 0 rgba(76, 175, 80, 0.15);
}
.reclamation .btn-success:hover,
.reclamation .btn.bg-gradient-success:hover {
  background-color: #4caf50;
  border-color: #4caf50;
  box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.4), 0 4px 23px 0 rgba(76, 175, 80, 0.15),
    0 8px 10px -5px rgba(76, 175, 80, 0.2);
}
.reclamation .btn-success .btn.bg-outline-success,
.reclamation .btn.bg-gradient-success .btn.bg-outline-success {
  border: 1px solid #4caf50;
}
.reclamation .btn-success:not(:disabled):not(.disabled).active,
.reclamation .btn-success:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-success.dropdown-toggle,
.reclamation .btn.bg-gradient-success:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-success:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-success.dropdown-toggle {
  color: color-yiq(#4caf50);
  background-color: #4caf50;
}
.reclamation .btn-success.focus,
.reclamation .btn-success:focus,
.reclamation .btn.bg-gradient-success.focus,
.reclamation .btn.bg-gradient-success:focus {
  color: #fff;
}

.reclamation .btn-outline-success {
  box-shadow: none;
}
.reclamation .btn-outline-success:hover:not(.active) {
  background-color: transparent;
  opacity: 0.75;
  box-shadow: none;
  color: #4caf50;
}

.reclamation .btn-info,
.reclamation .btn.bg-gradient-info {
  box-shadow: 0 3px 3px 0 rgba(26, 115, 232, 0.15), 0 3px 1px -2px rgba(26, 115, 232, 0.2),
    0 1px 5px 0 rgba(26, 115, 232, 0.15);
}
.reclamation .btn-info:hover,
.reclamation .btn.bg-gradient-info:hover {
  background-color: rgba(26, 115, 232, 0.4);
  border-color: rgba(26, 115, 232, 0.4);
  box-shadow: 0 14px 26px -12px rgba(26, 115, 232, 0.4), 0 4px 23px 0 rgba(26, 115, 232, 0.15),
    0 8px 10px -5px rgba(26, 115, 232, 0.2);
}
.reclamation .btn-info .btn.bg-outline-info,
.reclamation .btn.bg-gradient-info .btn.bg-outline-info {
  border: 1px solid #1a73e8;
}
.reclamation .btn-info:not(:disabled):not(.disabled).active,
.reclamation .btn-info:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-info.dropdown-toggle,
.reclamation .btn.bg-gradient-info:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-info:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-info.dropdown-toggle {
  color: color-yiq(#1a73e8);
  background-color: #1a73e8;
}
.reclamation .btn-info.focus,
.reclamation .btn-info:focus,
.reclamation .btn.bg-gradient-info.focus,
.reclamation .btn.bg-gradient-info:focus {
  color: #fff;
}

.reclamation .btn-outline-info {
  box-shadow: none;
}
.reclamation .btn-outline-info:hover:not(.active) {
  background-color: transparent;
  opacity: 0.75;
  box-shadow: none;
  color: #1a73e8;
}

.reclamation .btn-warning,
.reclamation .btn.bg-gradient-warning {
  box-shadow: 0 3px 3px 0 rgba(251, 140, 0, 0.15), 0 3px 1px -2px rgba(251, 140, 0, 0.2),
    0 1px 5px 0 rgba(251, 140, 0, 0.15);
}
.reclamation .btn-warning:hover,
.reclamation .btn.bg-gradient-warning:hover {
  background-color: #fb8c00;
  border-color: #fb8c00;
  box-shadow: 0 14px 26px -12px rgba(251, 140, 0, 0.4), 0 4px 23px 0 rgba(251, 140, 0, 0.15),
    0 8px 10px -5px rgba(251, 140, 0, 0.2);
}
.reclamation .btn-warning .btn.bg-outline-warning,
.reclamation .btn.bg-gradient-warning .btn.bg-outline-warning {
  border: 1px solid #fb8c00;
}
.reclamation .btn-warning:not(:disabled):not(.disabled).active,
.reclamation .btn-warning:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-warning.dropdown-toggle,
.reclamation .btn.bg-gradient-warning:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-warning:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-warning.dropdown-toggle {
  color: color-yiq(#fb8c00);
  background-color: #fb8c00;
}
.reclamation .btn-warning.focus,
.reclamation .btn-warning:focus,
.reclamation .btn.bg-gradient-warning.focus,
.reclamation .btn.bg-gradient-warning:focus {
  color: #fff;
}

.reclamation .btn-outline-warning {
  box-shadow: none;
}
.reclamation .btn-outline-warning:hover:not(.active) {
  background-color: transparent;
  opacity: 0.75;
  box-shadow: none;
  color: #fb8c00;
}

.reclamation .btn-danger,
.reclamation .btn.bg-gradient-danger {
  box-shadow: 0 3px 3px 0 rgba(244, 67, 53, 0.15), 0 3px 1px -2px rgba(244, 67, 53, 0.2),
    0 1px 5px 0 rgba(244, 67, 53, 0.15);
}
.reclamation .btn-danger:hover,
.reclamation .btn.bg-gradient-danger:hover {
  background-color: #f44335;
  border-color: #f44335;
  box-shadow: 0 14px 26px -12px rgba(244, 67, 53, 0.4), 0 4px 23px 0 rgba(244, 67, 53, 0.15),
    0 8px 10px -5px rgba(244, 67, 53, 0.2);
}
.reclamation .btn-danger .btn.bg-outline-danger,
.reclamation .btn.bg-gradient-danger .btn.bg-outline-danger {
  border: 1px solid #f44335;
}
.reclamation .btn-danger:not(:disabled):not(.disabled).active,
.reclamation .btn-danger:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-danger.dropdown-toggle,
.reclamation .btn.bg-gradient-danger:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-danger:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-danger.dropdown-toggle {
  color: color-yiq(#f44335);
  background-color: #f44335;
}
.reclamation .btn-danger.focus,
.reclamation .btn-danger:focus,
.reclamation .btn.bg-gradient-danger.focus,
.reclamation .btn.bg-gradient-danger:focus {
  color: #fff;
}

.reclamation .btn-outline-danger {
  box-shadow: none;
}
.reclamation .btn-outline-danger:hover:not(.active) {
  background-color: transparent;
  opacity: 0.75;
  box-shadow: none;
  color: #f44335;
}

.reclamation .btn-light,
.reclamation .btn.bg-gradient-light {
  box-shadow: 0 3px 3px 0 rgba(240, 242, 245, 0.15), 0 3px 1px -2px rgba(240, 242, 245, 0.2),
    0 1px 5px 0 rgba(240, 242, 245, 0.15);
}

.reclamation .btn-light .btn.bg-outline-light,
.reclamation .btn.bg-gradient-light .btn.bg-outline-light {
  border: 1px solid #f0f2f5;
}
.reclamation .btn-light:not(:disabled):not(.disabled).active,
.reclamation .btn-light:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-light.dropdown-toggle,
.reclamation .btn.bg-gradient-light:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-light:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-light.dropdown-toggle {
  color: color-yiq(#f0f2f5);
  background-color: #f0f2f5;
}

.reclamation .btn-outline-light {
  box-shadow: none;
}
.reclamation .btn-outline-light:hover:not(.active) {
  background-color: transparent;
  opacity: 0.75;
  box-shadow: none;
  color: #f0f2f5;
}

.reclamation .btn-dark,
.reclamation .btn.bg-gradient-dark {
  box-shadow: 0 3px 3px 0 rgba(52, 71, 103, 0.15), 0 3px 1px -2px rgba(52, 71, 103, 0.2),
    0 1px 5px 0 rgba(52, 71, 103, 0.15);
}
.reclamation .btn-dark:hover,
.reclamation .btn.bg-gradient-dark:hover {
  background-color: #344767;
  border-color: #344767;
  box-shadow: 0 14px 26px -12px rgba(52, 71, 103, 0.4), 0 4px 23px 0 rgba(52, 71, 103, 0.15),
    0 8px 10px -5px rgba(52, 71, 103, 0.2);
}
.reclamation .btn-dark .btn.bg-outline-dark,
.reclamation .btn.bg-gradient-dark .btn.bg-outline-dark {
  border: 1px solid #344767;
}
.reclamation .btn-dark:not(:disabled):not(.disabled).active,
.reclamation .btn-dark:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-dark.dropdown-toggle,
.reclamation .btn.bg-gradient-dark:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-dark:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-dark.dropdown-toggle {
  color: color-yiq(#344767);
  background-color: #344767;
}
.reclamation .btn-dark.focus,
.reclamation .btn-dark:focus,
.reclamation .btn.bg-gradient-dark.focus,
.reclamation .btn.bg-gradient-dark:focus {
  color: #fff;
}

.reclamation .btn-outline-dark {
  box-shadow: none;
}
.reclamation .btn-outline-dark:hover:not(.active) {
  background-color: transparent;
  opacity: 0.75;
  box-shadow: none;
  color: #344767;
}

.reclamation .btn-white,
.reclamation .btn.bg-gradient-white {
  box-shadow: 0 3px 3px 0 rgba(255, 255, 255, 0.15), 0 3px 1px -2px rgba(255, 255, 255, 0.2),
    0 1px 5px 0 rgba(255, 255, 255, 0.15);
}
.reclamation .btn-white:hover,
.reclamation .btn.bg-gradient-white:hover {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 14px 26px -12px rgba(255, 255, 255, 0.4), 0 4px 23px 0 rgba(255, 255, 255, 0.15),
    0 8px 10px -5px rgba(255, 255, 255, 0.2);
}
.reclamation .btn-white .btn.bg-outline-white,
.reclamation .btn.bg-gradient-white .btn.bg-outline-white {
  border: 1px solid #fff;
}
.reclamation .btn-white:not(:disabled):not(.disabled).active,
.reclamation .btn-white:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-white.dropdown-toggle,
.reclamation .btn.bg-gradient-white:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-white:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-white.dropdown-toggle {
  color: color-yiq(#fff);
  background-color: #fff;
}

.reclamation .btn-outline-white {
  box-shadow: none;
}
.reclamation .btn-outline-white:hover:not(.active) {
  background-color: transparent;
  opacity: 0.75;
  box-shadow: none;
  color: #fff;
}

.reclamation .btn-outline-white {
  border-color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.1);
}

.reclamation .btn-primary,
.reclamation .btn.bg-gradient-primary {
  color: #fff;
}
.reclamation .btn-primary:hover,
.reclamation .btn.bg-gradient-primary:hover {
  color: #fff;
}

.reclamation .btn-secondary,
.reclamation .btn.bg-gradient-secondary {
  color: #fff;
}
.reclamation .btn-secondary:hover,
.reclamation .btn.bg-gradient-secondary:hover {
  color: #fff;
}

.reclamation .btn-danger,
.reclamation .btn.bg-gradient-danger {
  color: #fff;
}
.reclamation .btn-danger:hover,
.reclamation .btn.bg-gradient-danger:hover {
  color: #fff;
}

.reclamation .btn-info,
.reclamation .btn.bg-gradient-info {
  color: #fff;
}
.reclamation .btn-info:hover,
.reclamation .btn.bg-gradient-info:hover {
  color: #fff;
}

.reclamation .btn-success,
.reclamation .btn.bg-gradient-success {
  color: #fff;
}
.reclamation .btn-success:hover,
.reclamation .btn.bg-gradient-success:hover {
  color: #fff;
}

.reclamation .btn-warning,
.reclamation .btn.bg-gradient-warning {
  color: #fff;
}
.reclamation .btn-warning:hover,
.reclamation .btn.bg-gradient-warning:hover {
  color: #fff;
}

.reclamation .btn-dark,
.reclamation .btn.bg-gradient-dark {
  color: #fff;
}
.reclamation .btn-dark:hover,
.reclamation .btn.bg-gradient-dark:hover {
  color: #fff;
}

.reclamation .btn-light,
.reclamation .btn.bg-gradient-light {
  color: #3a416f;
}
.reclamation .btn-light:hover,
.reclamation .btn.bg-gradient-light:hover {
  color: #3a416f;
}
.reclamation .navbar > .reclamation .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.reclamation .py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.reclamation .d-table-row {
  display: table-row !important;
}

.reclamation .flex-row {
  flex-direction: row !important;
}

.reclamation .flex-column {
  flex-direction: column !important;
}

.reclamation .flex-row-reverse {
  flex-direction: row-reverse !important;
}
.reclamation .d-sm-table-row {
  display: table-row !important;
}
.reclamation .flex-sm-row {
  flex-direction: row !important;
}
.reclamation .flex-sm-column {
  flex-direction: column !important;
}
.reclamation .flex-sm-row-reverse {
  flex-direction: row-reverse !important;
}
.reclamation .flex-md-row {
  flex-direction: row !important;
}
.reclamation .flex-md-column {
  flex-direction: column !important;
}
.reclamation .flex-md-row-reverse {
  flex-direction: row-reverse !important;
}
.reclamation .d-lg-table-row {
  display: table-row !important;
}

.reclamation .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
}
.reclamation .card > .reclamation hr {
  margin-right: 0;
  margin-left: 0;
}
.reclamation .card > .reclamation .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.reclamation .card > .reclamation .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.reclamation .card > .reclamation .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.reclamation .card > .reclamation .card-header + .list-group,
.reclamation .card > .reclamation .list-group + .card-footer {
  border-top: 0;
}

.reclamation .card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.reclamation .card-title {
  margin-bottom: 0.5rem;
}

.reclamation .card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.reclamation .card-text:last-child {
  margin-bottom: 0;
}

.reclamation .card-link + .card-link {
  margin-left: 1rem;
}

.reclamation .card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}
.reclamation .card-header:first-child {
  border-radius: 0.75rem 0.75rem 0 0;
}

.reclamation .card-footer {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-top: 0 solid rgba(0, 0, 0, 0.125);
}
.reclamation .card-footer:last-child {
  border-radius: 0 0 0.75rem 0.75rem;
}

.reclamation .card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.reclamation .card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.reclamation .card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: 0.75rem;
}

.reclamation .card-img,
.reclamation .card-img-top,
.reclamation .card-img-bottom {
  width: 100%;
}

.reclamation .card-img,
.reclamation .card-img-top {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.reclamation .card-img,
.reclamation .card-img-bottom {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.reclamation .card-group > .reclamation .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .reclamation .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .reclamation .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .reclamation .card-group > .reclamation .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .reclamation .card-group > .reclamation .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .reclamation .card-group > .reclamation .card:not(:last-child) .card-img-top,
  .reclamation .card-group > .reclamation .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .reclamation .card-group > .reclamation .card:not(:last-child) .card-img-bottom,
  .reclamation .card-group > .reclamation .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .reclamation .card-group > .reclamation .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .reclamation .card-group > .reclamation .card:not(:first-child) .card-img-top,
  .reclamation .card-group > .reclamation .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .reclamation .card-group > .reclamation .card:not(:first-child) .card-img-bottom,
  .reclamation .card-group > .reclamation .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}
.reclamation .card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.reclamation .card[data-animation='true'] .card-header {
  transform: translate3d(0, 0, 0);
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.reclamation .card:hover[data-animation='true'] .card-header {
  transform: translate3d(0, -50px, 0);
}
.reclamation .card .card-header {
  padding: 1.5rem;
}
.reclamation .card .card-body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  padding: 1.5rem;
}
.reclamation .card.card-plain {
  background-color: transparent;
  box-shadow: none;
}
.reclamation .card .card-footer {
  padding: 1.5rem;
  background-color: transparent;
}

.reclamation .author {
  display: flex;
}
.reclamation .author .name > .reclamation span {
  line-height: 1.571;
  font-weight: 600;
  font-size: 0.875rem;
  color: #3a416f;
}
.reclamation .author .stats {
  font-size: 0.875rem;
  font-weight: 400;
}

.reclamation .card.card-background {
  align-items: center;
}
.reclamation .card.card-background .full-background {
  background-position: 50%;
  background-size: cover;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.75rem;
}
.reclamation .card.card-background .card-body {
  color: #fff;
  position: relative;
  z-index: 2;
}
.reclamation .card.card-background .card-body .content-center,
.reclamation .card.card-background .card-body .content-left {
  min-height: 330px;
  max-width: 450px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.reclamation .card.card-background .card-body .content-center {
  text-align: center;
}
.reclamation .card.card-background .card-body.body-left {
  width: 90%;
}
.reclamation .card.card-background .card-body .author .name span,
.reclamation .card.card-background .card-body .author .name .stats {
  color: #fff;
}
.reclamation .card.card-background:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.56);
  border-radius: 0.75rem;
}
.reclamation .card.card-background.card-background-mask-primary:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-primary:after {
  background-image: linear-gradient(195deg, #213f77 0%, #d81b60 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-secondary:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-secondary:after {
  background-image: linear-gradient(195deg, #747b8a 0%, #495361 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-success:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-success:after {
  background-image: linear-gradient(195deg, #66bb6a 0%, #43a047 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-info:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-info:after {
  background-image: linear-gradient(195deg, #49a3f1 0%, #1a73e8 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-warning:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-warning:after {
  background-image: linear-gradient(195deg, #ffa726 0%, #fb8c00 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-danger:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-danger:after {
  background-image: linear-gradient(195deg, #ef5350 0%, #e53935 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-light:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-light:after {
  background-image: linear-gradient(195deg, #ebeff4 0%, #ced4da 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-dark:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-dark:after {
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  opacity: 0.85;
}
.reclamation .card.card-background .card-category {
  font-size: 0.875rem;
  font-weight: 600;
}
.reclamation .card.card-background .card-description {
  margin-top: 24px;
  margin-bottom: 24px;
}

.reclamation .rotating-card-container {
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.reclamation .rotating-card-container .card-rotate {
  background: transparent;
  box-shadow: none;
}
.reclamation .rotating-card-container .card-rotate:after {
  display: none;
}
.reclamation .rotating-card-container .card {
  transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
  transform-style: preserve-3d;
  position: relative;
}
.reclamation .rotating-card-container .card .back,
.reclamation .rotating-card-container .card .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  background-color: #fff;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.reclamation .rotating-card-container .card .back .card-body,
.reclamation .rotating-card-container .card .front .card-body {
  justify-content: center;
  align-content: center;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.reclamation .rotating-card-container .card .back:after,
.reclamation .rotating-card-container .card .front:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: '';
  border-radius: 0.5rem;
  background-image: linear-gradient(195deg, #213f77, #d81b60);
  opacity: 0.85;
}
.reclamation .rotating-card-container .card .front {
  z-index: 2;
  position: relative;
}
.reclamation .rotating-card-container .card .back {
  transform: rotateY(180deg);
  z-index: 5;
  text-align: center;
  width: 100%;
  height: 100%;
}
.reclamation .rotating-card-container .card .back.back-background .card-body {
  position: relative;
  z-index: 2;
}
.reclamation .rotating-card-container .card .back .card-footer .btn {
  margin: 0;
}
.reclamation .rotating-card-container .card .back .card-body {
  padding-left: 15px;
  padding-right: 15px;
}
.reclamation .rotating-card-container:not(.manual-flip):hover .card {
  transform: rotateY(180deg);
}
.reclamation .rotating-card-container.hover.manual-flip .card {
  transform: rotateY(180deg);
}
.reclamation .card-profile .rotating-card-container .front {
  text-align: left;
}

.reclamation .back-background .card-body {
  min-height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*       Fix bug for IE      */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .reclamation .rotating-card-container .card .back,
  .reclamation .rotating-card-container .card .front {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .reclamation .rotating-card-container .card .back {
    visibility: hidden;
    transition: visibility 0.3s cubic-bezier(0.34, 1.45, 0.7, 1);
  }
  .reclamation .rotating-card-container .card .front {
    z-index: 4;
  }
  .reclamation .rotating-card-container.manual-flip.hover .card .back,
  .reclamation .rotating-card-container:not(.manual-flip):hover .card .back {
    z-index: 5;
    visibility: visible;
  }
}
.reclamation .dark-version .card,
.reclamation .dark-version .swal2-popup,
.reclamation .dark-version .dropdown .dropdown-menu,
.reclamation .dark-version .kanban-board {
  background: #202940;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.reclamation .dark-version .card .card-header,
.reclamation .dark-version .swal2-popup .card-header,
.reclamation .dark-version .dropdown .dropdown-menu .card-header,
.reclamation .dark-version .kanban-board .card-header {
  background: transparent;
}
.reclamation .dark-version .card p,
.reclamation .dark-version .swal2-popup p,
.reclamation .dark-version .dropdown .dropdown-menu p,
.reclamation .dark-version .kanban-board p {
  color: #fff !important;
  opacity: 0.6;
}
.reclamation .fixed-plugin.show .card {
  right: 0;
}
.reclamation .fixed-plugin .card {
  position: fixed !important;
  right: -360px;
  top: 0;
  height: 100%;
  left: auto !important;
  transform: unset !important;
  width: 360px;
  border-radius: 0;
  padding: 0 10px;
  transition: 0.2s ease;
  z-index: 1020;
}
.reclamation .g-sidenav-hidden .navbar-vertical .card.card-background .icon-shape {
  margin-bottom: 0 !important;
}
.reclamation .g-sidenav-hidden .navbar-vertical .card.card-background .docs-info {
  opacity: 0;
  width: 0;
  height: 0;
}
.reclamation .card > .reclamation .card-header + .list-group,
.reclamation .card > .reclamation .list-group + .card-footer {
  border-top: 0;
}
.reclamation .card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}
.reclamation .card-header:first-child {
  border-radius: 0.75rem 0.75rem 0 0;
}
.reclamation .card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.reclamation .card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.reclamation .card-group > .reclamation .card:not(:first-child) .card-header {
  border-top-left-radius: 0;
}
.reclamation .card[data-animation='true'] .card-header {
  transform: translate3d(0, 0, 0);
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.reclamation .card:hover[data-animation='true'] .card-header {
  transform: translate3d(0, -50px, 0);
}
.reclamation .card .card-header {
  padding: 1.5rem;
}
.reclamation .dark-version .card .card-header,
.reclamation .dark-version .swal2-popup .card-header,
.reclamation .dark-version .dropdown .dropdown-menu .card-header,
.reclamation .dark-version .kanban-board .card-header {
  background: transparent;
}

.reclamation .btn-primary,
.reclamation .btn.bg-gradient-primary {
  box-shadow: 0 3px 3px 0 #213f77, 0 3px 1px -2px #213f77, 0 1px 5px 0 #213f77;
}
.reclamation .btn-primary:hover,
.reclamation .btn.bg-gradient-primary:hover {
  background-color: #213f77;
  border-color: #213f77;
  box-shadow: 0 14px 26px -12px #213f77, 0 4px 23px 0 #213f77, 0 8px 10px -5px #213f77;
}
.reclamation .btn-primary .btn.bg-outline-primary,
.reclamation .btn.bg-gradient-primary .btn.bg-outline-primary {
  border: 1px solid #213f77;
}
.reclamation .btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-primary.dropdown-toggle {
  color: color-yiq(#213f77);
  background-color: #213f77;
}
.reclamation .btn-primary.focus,
.reclamation .btn-primary:focus,
.reclamation .btn.bg-gradient-primary.focus,
.reclamation .btn.bg-gradient-primary:focus {
  color: #fff;
}
.reclamation .border-radius-lg {
  border-radius: 0.5rem;
}
.reclamation .position-relative {
  position: relative !important;
}

.reclamation .card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}
.reclamation .card-header:first-child {
  border-radius: 0.75rem 0.75rem 0 0;
}
.reclamation .card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.reclamation .card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.reclamation .card[data-animation='true'] .card-header {
  transform: translate3d(0, 0, 0);
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.reclamation .card:hover[data-animation='true'] .card-header {
  transform: translate3d(0, -50px, 0);
}
.reclamation .card .card-header {
  padding: 1.5rem;
}
.reclamation .dark-version .card .card-header,
.reclamation .dark-version .swal2-popup .card-header,
.reclamation .dark-version .dropdown .dropdown-menu .card-header,
.reclamation .dark-version .kanban-board .card-header {
  background: transparent;
}
.reclamation .card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}
.reclamation .card-header:first-child {
  border-radius: 0.75rem 0.75rem 0 0;
}
.reclamation .card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.reclamation .card[data-animation='true'] .card-header {
  transform: translate3d(0, 0, 0);
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.reclamation .card:hover[data-animation='true'] .card-header {
  transform: translate3d(0, -50px, 0);
}
.reclamation .card .card-header {
  padding: 1.5rem;
}
.reclamation .card .card-body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  padding: 1.5rem;
}
.reclamation .card.card-plain {
  background-color: transparent;
  box-shadow: none;
}
.reclamation .card .card-footer {
  padding: 1.5rem;
  background-color: transparent;
}

.reclamation .author {
  display: flex;
}
.reclamation .author .name > .reclamation span {
  line-height: 1.571;
  font-weight: 600;
  font-size: 0.875rem;
  color: #3a416f;
}
.reclamation .author .stats {
  font-size: 0.875rem;
  font-weight: 400;
}

.reclamation .card.card-background {
  align-items: center;
}
.reclamation .card.card-background .full-background {
  background-position: 50%;
  background-size: cover;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.75rem;
}
.reclamation .card.card-background .card-body {
  color: #fff;
  position: relative;
  z-index: 2;
}
.reclamation .card.card-background .card-body .content-center,
.reclamation .card.card-background .card-body .content-left {
  min-height: 330px;
  max-width: 450px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.reclamation .card.card-background .card-body .content-center {
  text-align: center;
}
.reclamation .card.card-background .card-body.body-left {
  width: 90%;
}
.reclamation .card.card-background .card-body .author .name span,
.reclamation .card.card-background .card-body .author .name .stats {
  color: #fff;
}
.reclamation .card.card-background:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.56);
  border-radius: 0.75rem;
}
.reclamation .card.card-background.card-background-mask-primary:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-primary:after {
  background-image: linear-gradient(195deg, #213f77 0%, #d81b60 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-secondary:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-secondary:after {
  background-image: linear-gradient(195deg, #747b8a 0%, #495361 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-success:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-success:after {
  background-image: linear-gradient(195deg, #66bb6a 0%, #43a047 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-info:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-info:after {
  background-image: linear-gradient(195deg, #49a3f1 0%, #1a73e8 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-warning:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-warning:after {
  background-image: linear-gradient(195deg, #ffa726 0%, #fb8c00 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-danger:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-danger:after {
  background-image: linear-gradient(195deg, #ef5350 0%, #e53935 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-light:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-light:after {
  background-image: linear-gradient(195deg, #ebeff4 0%, #ced4da 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-dark:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-dark:after {
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  opacity: 0.85;
}
.reclamation .card.card-background .card-category {
  font-size: 0.875rem;
  font-weight: 600;
}
.reclamation .card.card-background .card-description {
  margin-top: 24px;
  margin-bottom: 24px;
}

.reclamation .rotating-card-container {
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.reclamation .rotating-card-container .card-rotate {
  background: transparent;
  box-shadow: none;
}
.reclamation .rotating-card-container .card-rotate:after {
  display: none;
}
.reclamation .rotating-card-container .card {
  transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
  transform-style: preserve-3d;
  position: relative;
}
.reclamation .rotating-card-container .card .back,
.reclamation .rotating-card-container .card .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  background-color: #fff;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.reclamation .rotating-card-container .card .back .card-body,
.reclamation .rotating-card-container .card .front .card-body {
  justify-content: center;
  align-content: center;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.reclamation .rotating-card-container .card .back:after,
.reclamation .rotating-card-container .card .front:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: '';
  border-radius: 0.5rem;
  background-image: linear-gradient(195deg, #213f77, #d81b60);
  opacity: 0.85;
}
.reclamation .rotating-card-container .card .front {
  z-index: 2;
  position: relative;
}
.reclamation .rotating-card-container .card .back {
  transform: rotateY(180deg);
  z-index: 5;
  text-align: center;
  width: 100%;
  height: 100%;
}
.reclamation .rotating-card-container .card .back.back-background .card-body {
  position: relative;
  z-index: 2;
}
.reclamation .rotating-card-container .card .back .card-footer .btn {
  margin: 0;
}
.reclamation .rotating-card-container .card .back .card-body {
  padding-left: 15px;
  padding-right: 15px;
}
.reclamation .rotating-card-container:not(.manual-flip):hover .card {
  transform: rotateY(180deg);
}
.reclamation .rotating-card-container.hover.manual-flip .card {
  transform: rotateY(180deg);
}
.reclamation .card-profile .rotating-card-container .front {
  text-align: left;
}

.reclamation .back-background .card-body {
  min-height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*       Fix bug for IE      */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .reclamation .rotating-card-container .card .back,
  .reclamation .rotating-card-container .card .front {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .reclamation .rotating-card-container .card .back {
    visibility: hidden;
    transition: visibility 0.3s cubic-bezier(0.34, 1.45, 0.7, 1);
  }
  .reclamation .rotating-card-container .card .front {
    z-index: 4;
  }
  .reclamation .rotating-card-container.manual-flip.hover .card .back,
  .reclamation .rotating-card-container:not(.manual-flip):hover .card .back {
    z-index: 5;
    visibility: visible;
  }
}
.reclamation .g-sidenav-hidden .navbar-vertical .card.card-background .icon-shape {
  margin-bottom: 0 !important;
}
.reclamation .g-sidenav-hidden .navbar-vertical .card.card-background .docs-info {
  opacity: 0;
  width: 0;
  height: 0;
}
.reclamation .rtl .fixed-plugin .card {
  left: -360px !important;
  right: auto;
}

.reclamation .rtl .fixed-plugin.show .card {
  right: auto;
  left: 0 !important;
}

.reclamation .shadow-card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
.reclamation .dark-version .card .card-header,
.reclamation .dark-version .swal2-popup .card-header,
.reclamation .dark-version .dropdown .dropdown-menu .card-header,
.reclamation .dark-version .kanban-board .card-header {
  background: transparent;
}
.reclamation .dark-version .card p,
.reclamation .dark-version .swal2-popup p,
.reclamation .dark-version .dropdown .dropdown-menu p,
.reclamation .dark-version .kanban-board p {
  color: #fff !important;
  opacity: 0.6;
}
.reclamation .card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.reclamation .card[data-animation='true'] .card-header {
  transform: translate3d(0, 0, 0);
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.reclamation .card:hover[data-animation='true'] .card-header {
  transform: translate3d(0, -50px, 0);
}
.reclamation .card .card-header {
  padding: 1.5rem;
}
.reclamation .card .card-body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  padding: 1.5rem;
}
.reclamation .card.card-plain {
  background-color: transparent;
  box-shadow: none;
}
.reclamation .card .card-footer {
  padding: 1.5rem;
  background-color: transparent;
}

.reclamation .author {
  display: flex;
}
.reclamation .author .name > .reclamation span {
  line-height: 1.571;
  font-weight: 600;
  font-size: 0.875rem;
  color: #3a416f;
}
.reclamation .author .stats {
  font-size: 0.875rem;
  font-weight: 400;
}

.reclamation .card.card-background {
  align-items: center;
}
.reclamation .card.card-background .full-background {
  background-position: 50%;
  background-size: cover;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.75rem;
}
.reclamation .card.card-background .card-body {
  color: #fff;
  position: relative;
  z-index: 2;
}
.reclamation .card.card-background .card-body .content-center,
.reclamation .card.card-background .card-body .content-left {
  min-height: 330px;
  max-width: 450px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.reclamation .card.card-background .card-body .content-center {
  text-align: center;
}
.reclamation .card.card-background .card-body.body-left {
  width: 90%;
}
.reclamation .card.card-background .card-body .author .name span,
.reclamation .card.card-background .card-body .author .name .stats {
  color: #fff;
}
.reclamation .card.card-background:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.56);
  border-radius: 0.75rem;
}
.reclamation .card.card-background.card-background-mask-primary:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-primary:after {
  background-image: linear-gradient(195deg, #213f77 0%, #d81b60 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-secondary:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-secondary:after {
  background-image: linear-gradient(195deg, #747b8a 0%, #495361 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-success:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-success:after {
  background-image: linear-gradient(195deg, #66bb6a 0%, #43a047 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-info:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-info:after {
  background-image: linear-gradient(195deg, #49a3f1 0%, #1a73e8 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-warning:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-warning:after {
  background-image: linear-gradient(195deg, #ffa726 0%, #fb8c00 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-danger:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-danger:after {
  background-image: linear-gradient(195deg, #ef5350 0%, #e53935 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-light:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-light:after {
  background-image: linear-gradient(195deg, #ebeff4 0%, #ced4da 100%);
  opacity: 0.85;
}
.reclamation .card.card-background.card-background-mask-dark:before {
  background: rgba(0, 0, 0, 0.2);
}
.reclamation .card.card-background.card-background-mask-dark:after {
  background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
  opacity: 0.85;
}
.reclamation .card.card-background .card-category {
  font-size: 0.875rem;
  font-weight: 600;
}
.reclamation .card.card-background .card-description {
  margin-top: 24px;
  margin-bottom: 24px;
}

.reclamation .rotating-card-container {
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.reclamation .rotating-card-container .card-rotate {
  background: transparent;
  box-shadow: none;
}
.reclamation .rotating-card-container .card-rotate:after {
  display: none;
}
.reclamation .rotating-card-container .card {
  transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
  transform-style: preserve-3d;
  position: relative;
}
.reclamation .rotating-card-container .card .back,
.reclamation .rotating-card-container .card .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  background-color: #fff;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  justify-content: center;
  align-content: center;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.reclamation .rotating-card-container .card .back .card-body,
.reclamation .rotating-card-container .card .front .card-body {
  justify-content: center;
  align-content: center;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.reclamation .rotating-card-container .card .back:after,
.reclamation .rotating-card-container .card .front:after {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: '';
  border-radius: 0.5rem;
  background-image: linear-gradient(195deg, #213f77, #d81b60);
  opacity: 0.85;
}
.reclamation .rotating-card-container .card .front {
  z-index: 2;
  position: relative;
}
.reclamation .rotating-card-container .card .back {
  transform: rotateY(180deg);
  z-index: 5;
  text-align: center;
  width: 100%;
  height: 100%;
}
.reclamation .rotating-card-container .card .back.back-background .card-body {
  position: relative;
  z-index: 2;
}
.reclamation .rotating-card-container .card .back .card-footer .btn {
  margin: 0;
}
.reclamation .rotating-card-container .card .back .card-body {
  padding-left: 15px;
  padding-right: 15px;
}
.reclamation .rotating-card-container:not(.manual-flip):hover .card {
  transform: rotateY(180deg);
}
.reclamation .rotating-card-container.hover.manual-flip .card {
  transform: rotateY(180deg);
}
.reclamation .card-profile .rotating-card-container .front {
  text-align: left;
}

.reclamation .back-background .card-body {
  min-height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*       Fix bug for IE      */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .reclamation .rotating-card-container .card .back,
  .reclamation .rotating-card-container .card .front {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .reclamation .rotating-card-container .card .back {
    visibility: hidden;
    transition: visibility 0.3s cubic-bezier(0.34, 1.45, 0.7, 1);
  }
  .reclamation .rotating-card-container .card .front {
    z-index: 4;
  }
  .reclamation .rotating-card-container.manual-flip.hover .card .back,
  .reclamation .rotating-card-container:not(.manual-flip):hover .card .back {
    z-index: 5;
    visibility: visible;
  }
}
.reclamation .btn-primary,
.reclamation .btn.bg-gradient-primary {
  box-shadow: 0 3px 3px 0 #213f77, 0 3px 1px -2px #213f77, 0 1px 5px 0 #213f77;
}
.reclamation .btn-primary:hover,
.reclamation .btn.bg-gradient-primary:hover {
  background-color: #213f77;
  border-color: #213f77;
  box-shadow: 0 14px 26px -12px #213f77, 0 4px 23px 0 #213f77, 0 8px 10px -5px #213f77;
}
.reclamation .btn-primary .btn.bg-outline-primary,
.reclamation .btn.bg-gradient-primary .btn.bg-outline-primary {
  border: 1px solid #213f77;
}
.reclamation .btn-primary:not(:disabled):not(.disabled).active,
.reclamation .btn-primary:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn-primary.dropdown-toggle,
.reclamation .btn.bg-gradient-primary:not(:disabled):not(.disabled).active,
.reclamation .btn.bg-gradient-primary:not(:disabled):not(.disabled):active,
.reclamation .show > .reclamation .btn.bg-gradient-primary.dropdown-toggle {
  color: color-yiq(#213f77);
  background-color: #213f77;
}
.reclamation .btn-primary.focus,
.reclamation .btn-primary:focus,
.reclamation .btn.bg-gradient-primary.focus,
.reclamation .btn.bg-gradient-primary:focus {
  color: #fff;
}
.reclamation .btn-outline-primary {
  box-shadow: none;
  color: #213f77;
  box-shadow: 0 3px 5px -1px #213f77, 0 2px 3px -1px #213f77;
}
.reclamation .btn-primary,
.reclamation .btn.bg-gradient-primary {
  color: #fff;
}
.reclamation .btn-primary:hover,
.reclamation .btn.bg-gradient-primary:hover {
  color: #fff;
}
.reclamation .bg-gradient-primary {
  background-image: linear-gradient(195deg, #213f77 0%, #1c62cd 100%);
}
.reclamation a {
  letter-spacing: 0rem;
  color: #344767;
}
.Button_Accepter {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.Button_Refuser {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.state_Refuser {
  color: red;
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: bold;
}
.state_Accepter {
  color: green;
  padding: 5px 10px;
  margin-right: 5px;
  font-weight: bold;
}
.listeConges .tutorial-item {
  padding: 20px;
  border-radius: 4px;
  border-width: thick;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-top: 30px;
  align-items: stretch;
}
.listeConges .tutorial-item .img-wrap {
  /*   -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 300px; */
  margin-right: 30px;
  width: 380px;
  justify-content: left;
}
.listeConges .tutorial-item h3 {
  margin-bottom: 20px;
  font-size: 25px;
}
.listeConges .btnAdd:hover {
  background-color: #140788;
  color: white;
  border: 2px solid #140788;
}

.listeConges .btnAdd {
  font-size: 18px;
  border-radius: 7px;
  border-color: #213f77;
  border: 2px solid;
  color: #213f77;
}

.listeConges .tutorial-item h3 a {
  color: #3399ff;
  text-decoration: none;
}
.listeConges .tutorial-item h3 span {
  color: #3399ff;
}
.listeConges .tutorial-item *:last-child {
  margin-bottom: 0;
}
.listeConges .meta {
  color: #a6a6a6;
}
.listeConges .info-det {
  color: #384158;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 5px;
}

.listeConges .custom-btn {
  height: 30px;
  width: 100px;
  margin-top: 5px;
  padding-top: 1px;
}
.listeConges .it-cont {
  /* -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 490px; */
  margin-right: 30px;
  justify-content: left;
  width: 350;
}
.listeConges .buttons {
  display: flex;
  justify-content: right;
}
.listeConges .btn-Modf {
  background: white;
  border: 2px solid #069653;
  outline: none;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #069653;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  margin-left: 10px;
  width: 45px;
  height: 45px;
}

.listeConges .btn-Modf:hover {
  background-color: #069653;
  color: white;
  border: 2px solid #069653;
}
.listeConges .btn-Supp {
  background: white;
  border: 2px solid rgb(194, 0, 0);
  outline: none;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 500;
  color: rgb(194, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  margin-left: 10px;
  width: 45px;
  height: 45px;
}
.listeConges .btn-Supp:hover {
  background-color: rgb(194, 0, 0);
  color: white;
  border: 2px solid rgb(194, 0, 0);
}
.listeConges .btn-plus {
  display: flex;
  background-color: white;
  color: #321fdb;
  border: 2px solid #321fdb;
  outline: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  justify-content: left;
  padding-top: 5px;
  height: 35px;
  width: 100px;
  margin-top: 15px;
}
.listeConges .btn-plus:hover {
  display: flex;
  background-color: #321fdb;
  color: white;
  border: 2px solid #321fdb;
}
.listeConges .card-heade {
  --tw-border-opacity: 1;
  border-color: rgba(243, 244, 246, var(--tw-border-opacity));
  border-bottom-width: 0px;
  display: flex;
  align-items: stretch;
  background-color: #e2e2e2;
  height: 70px;
}
.listeConges .card-header-icon,
.listeConges .card-header-title {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-grow: 1;
  font-weight: bold;
  color: #140788;

  font-size: 24px;
}

.listeConges .card-header-icon {
  justify-content: center;
}
.listeConges .btn-Aj-form {
  background-color: white;
  color: #140788;
  border: 2px solid #140788;
  width: 90px;
  height: 40px;
  outline: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.1em;
  cursor: pointer;
  margin-right: 30px;
}

.listeConges .btn-Aj {
  background-color: #e2e2e2;
  color: #140788;
  border: 2px solid #140788;
  width: 200px;
  height: 40px;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 18px;
  border-radius: 7px;
}
.listeConges .btn-arch {
  background: white;
  border: 2px solid #140788;
  outline: none;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #140788;
  letter-spacing: 0.1em;
  cursor: pointer;
  margin-left: 10px;
  width: 45px;
  height: 45px;
}

.listeConges .btn-arch:hover {
  background-color: #140788;
  color: white;
  border: 2px solid #140788;
}
.listeConges .btn-Aj:hover {
  background-color: #140788;
  color: #e2e2e2;
  border: 2px solid #140788;
}
/**********pagination***/
.listeConges .courses_show_text {
  display: inline-block;
}
.listeConges .courses_show_content {
  display: inline-block;
  width: 144px;
  border: solid 1px #ecedee;
}
.listeConges .courses_show_content span {
  line-height: 40px;
  padding-left: 20px;
  font-size: 16px;
  color: #384158;
}

.listeConges .link-cours {
  text-decoration: none;
}
.listeConges .link-cours:hover {
  text-decoration: none;
}
.listeConges .upload {
  display: inline-flex;
}
.listeConges .upload input[type='file'] {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.listeConges .button.blue {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}
.listeConges .button.blue:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
}
.listeConges .button.blue {
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.listeConges .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.listeConges .file {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.listeConges .upload input[type='file'] {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.listeConges .responsive {
  width: 100%;
  height: auto;
}

.listeConges .btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
