.formationInformation /*********************************
7. formation
*********************************/

.formationInformation .formation {
  width: 100%;
  padding-top: 57px;
  padding-bottom: 100px;
  background: #ffffff;
}
.formationInformation .formation_container {
  width: 100%;
}
.formationInformation .formation_title {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 700;
  color: #384158;
  margin-bottom: 50px;
  margin-top: 0px;
}
.formationInformation .formation_info {
  width: 100%;
  height: 92px;
  margin-top: 68px;
  background: #f2f4f5;
}
.formationInformation .formation_info_item {
  width: 33.33333333%;
  padding-left: 30px;
}
.formationInformation .formation_info_item:not(:last-child)::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #d9dbdc;
  content: '';
}
.formationInformation .formation_info_title {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 700;
  color: #384158;
}
.formationInformation .formation_info_text {
  margin-top: 8px;
}
.formationInformation .formation_info_text a {
  font-size: 14px;
  color: #384158;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.formationInformation .formation_info_text a:hover {
  color: #14bdee;
}
.formationInformation .rating_r {
  margin-top: 7px;
}
.formationInformation .rating_r i::before {
  font-family: 'FontAwesome';
  content: '\f006';
  font-style: normal;
  font-size: 14px;
  margin-right: 4px;
  color: #14bdee;
}
.formationInformation .rating_r_1 i:first-child::before {
  content: '\f005';
}
.formationInformation .rating_r_2 i:first-child::before {
  content: '\f005';
}
.formationInformation .rating_r_2 i:nth-child(2)::before {
  content: '\f005';
}
.formationInformation .rating_r_3 i:first-child::before {
  content: '\f005';
}
.formationInformation .rating_r_3 i:nth-child(2)::before {
  content: '\f005';
}
.formationInformation .rating_r_3 i:nth-child(3)::before {
  content: '\f005';
}
.formationInformation .rating_r_4 i:first-child::before {
  content: '\f005';
}
.formationInformation .rating_r_4 i:nth-child(2)::before {
  content: '\f005';
}
.formationInformation .rating_r_4 i:nth-child(3)::before {
  content: '\f005';
}
.formationInformation .rating_r_4 i:nth-child(4)::before {
  content: '\f005';
}
.formationInformation .rating_r_5 i:first-child::before {
  content: '\f005';
}
.formationInformation .rating_r_5 i:nth-child(2)::before {
  content: '\f005';
}
.formationInformation .rating_r_5 i:nth-child(3)::before {
  content: '\f005';
}
.formationInformation .rating_r_5 i:nth-child(4)::before {
  content: '\f005';
}
.formationInformation .rating_r_5 i:nth-child(5)::before {
  content: '\f005';
}
.formationInformation .formation_image {
  margin-top: 21px;
  width: 100%;
}
.formationInformation .formation_image img {
  max-width: 100%;
}
.formationInformation .formation_tabs_container {
  width: 100%;
  margin-top: 30px;
}
.formationInformation .tab {
  height: 40px;
  background: #f2f4f5;
  font-size: 16px;
  color: #384158;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 10px;
  padding-left: 21px;
  padding-right: 20px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.formationInformation .tab.active,
.formationInformation .tab:hover {
  background: #14bdee;
  color: #ffffff;
}

.formationInformation .tab_panel {
  display: none !important;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  border: solid 1px #ebebeb;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 25px;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.formationInformation .tab_panel.active {
  display: block !important;
}
.formationInformation .tab_panel_title {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 700;
  color: #384158;
}
.formationInformation .tab_panel_text {
  margin-top: 10px;
}
.formationInformation .tab_panel_text p {
  font-size: 16px;
  font-weight: 400;
  color: #76777a;
  line-height: 1.75;
}
.formationInformation .tab_panel_section {
  margin-top: 17px;
}
.formationInformation .tab_panel_subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #384158;
}
.formationInformation .tab_panel_bullets {
  margin-top: 9px;
}
.formationInformation .tab_panel_bullets li {
  position: relative;
  padding-left: 27px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #76777a;
}
.formationInformation .tab_panel_bullets li:not(:last-child) {
  margin-bottom: 2px;
}
.formationInformation .tab_panel_bullets li::before {
  display: block;
  position: absolute;
  top: 9px;
  left: 1px;
  width: 7px;
  height: 7px;
  background: #76777a;
  content: '';
  border-radius: 50%;
}
.formationInformation .tab_panel_faq {
  margin-top: 51px;
}
.formationInformation .elements_accordions {
  margin-top: 34px;
}

.formationInformation .tab_panel_2 {
  padding-bottom: 10px;
}
.formationInformation .dropdowns {
  margin-top: 17px;
}
.formationInformation .dropdowns li ul {
  max-height: 0;
  padding-left: 30px;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.formationInformation .dropdowns li {
  position: relative;
}
.formationInformation .dropdowns li.has_children > .dropdown_item {
  cursor: pointer;
}
.formationInformation .dropdown_item {
  padding-top: 26px;
  padding-bottom: 25px;
}
.formationInformation .dropdowns li:not(:last-child) .dropdown_item {
  border-bottom: solid 1px #e5e5e5;
}
.formationInformation .dropdown_item_title {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 700;
  color: #384158;
  padding-left: 24px;
}
.formationInformation .dropdown_item_title span {
  font-size: 18px;
}
.formationInformation .dropdown_item_title::before {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: 'FontAwesome';
  content: '\f0f6';
  font-size: 18px;
  color: #384158;
  opacity: 0.65;
}
.formationInformation
  .has_children
  > .formationInformation
  .dropdown_item
  > .formationInformation
  .dropdown_item_title::after {
  position: absolute;
  top: -10px;
  right: 0;
  font-family: 'FontAwesome';
  content: '\f105';
  font-size: 30px;
  font-weight: 400;
  color: #384158;
}
.formationInformation
  .has_children.active
  > .formationInformation
  .dropdown_item
  > .formationInformation
  .dropdown_item_title::after {
  content: '\f107';
}
.formationInformation .dropdown_item_text {
  margin-top: 10px;
}
.formationInformation .dropdown_item_text p {
  font-size: 16px;
  font-weight: 400;
  color: #76777a;
  line-height: 1.75;
}
.formationInformation .tab_panel_3 {
  padding-bottom: 42px;
}
.formationInformation .review_rating_container {
  margin-top: 43px;
}
.formationInformation .review_rating {
  display: inline-block;
  text-align: center;
  padding-left: 35px;
  padding-top: 28px;
  vertical-align: top;
}
.formationInformation .review_rating_num {
  font-size: 72px;
  line-height: 0.75;
  font-weight: 900;
  color: #384158;
}
.formationInformation .review_rating_stars {
  margin-top: 27px;
  margin-left: 3px;
}
.formationInformation .review_rating_stars .rating_r i::before {
  color: #ffc80a;
  font-size: 18px;
}
.formationInformation .review_rating_text {
  font-size: 16px;
  color: #b5b8be;
  margin-top: 12px;
}
.formationInformation .review_rating_bars {
  display: inline-block;
  padding-left: 134px;
}
.formationInformation .review_rating_bars ul li:not(:last-child) {
  margin-bottom: 10px;
}
.formationInformation .review_rating_bars ul li span {
  font-size: 16px;
  font-weight: 400;
  color: #384158;
  vertical-align: middle;
}
.formationInformation .review_rating_bar {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 30px;
  background: #efefef;
  margin-left: 22px;
}
.formationInformation .review_rating_bar > div {
  height: 100%;
  background: #14bdee;
}
.formationInformation .comments_container {
  margin-top: 80px;
}
.formationInformation .comment_item {
  border-bottom: solid 1px #e5e5e5;
  padding-top: 31px;
  padding-bottom: 16px;
}
.formationInformation .comment_image div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.formationInformation .comment_image div img {
  max-width: 100%;
}
.formationInformation .comment_content {
  width: 100%;
  padding-left: 20px;
  margin-top: -7px;
}
.formationInformation .comment_author::after {
  display: inline-block;
  content: '-';
  margin-left: 6px;
}
.formationInformation .comment_author a {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 700;
  color: #384158;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.formationInformation .comment_author a:hover {
  color: #14bdee;
}
.formationInformation .comments_container .rating_r {
  margin-top: 3px;
  margin-left: 5px;
}
.formationInformation .comments_container .rating_r i::before {
  color: #ffc80a;
}
.formationInformation .comment_text {
  margin-top: 12px;
}
.formationInformation .comment_extras {
  margin-top: 13px;
}
.formationInformation .comment_reply {
  margin-left: 35px;
}
.formationInformation .comment_extra a {
  font-size: 14px;
  font-weight: 400;
  color: #76777a;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.formationInformation .comment_extra a:hover {
  color: #14bdee;
}
.formationInformation .comment_extra a span {
  margin-left: 3px;
}
.formationInformation .comment_reply a i {
  color: #14bdee;
}
.formationInformation .comments_list li ul {
  padding-left: 99px;
}
.formationInformation .add_comment_container {
  margin-top: 24px;
}
.formationInformation .add_comment_title {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 700;
  color: #384158;
}
.formationInformation .add_comment_text {
  margin-top: 14px;
}
.formationInformation .add_comment_text a {
  color: #14bdee;
  text-decoration: underline;
}

/*********************************
  8. sidebarFormation
  *********************************/

.formationInformation .sidebarFormation {
  width: 100%;
  padding-left: 40px;
  padding-top: 100px;
}
.formationInformation .sidebarFormation2 {
  width: 100%;
  padding-left: 40px;
  padding-top: 40px;
}
.formationInformation .sidebarFormation_section:not(:last-child) {
  margin-bottom: 60px;
}
.formationInformation .sidebarFormation_section_title {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 700;
  color: #384158;
  line-height: 0.75;
}
.formationInformation .formation_price {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 400;
  color: #14bdee;
  margin-top: 30px;
}
.formationInformation .feature_list {
  margin-top: 16px;
}
.formationInformation .feature:not(:last-child) {
  margin-bottom: 12px;
}
.formationInformation .feature_title {
  padding-left: 36px;
  margin-top: 50px;
}
.formationInformation .feature_title i {
  position: absolute;
  top: calc(50% - 1px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  font-size: 18px;
  color: #14bdee;
}
.formationInformation .feature_text {
  font-size: 15px;
  padding-top: 15px;
}

/*********************************
  7. Features
  *********************************/

.formationInformation .features {
  width: 100%;
  background: #ffffff;
  padding-top: 93px;
  padding-bottom: 103px;
}
.formationInformation .features_row {
  margin-top: 50px;
}
.formationInformation .feature {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: #ffffff;
}
.formationInformation .feature_icon {
  height: 55px;
}
.formationInformation .feature_icon img {
  max-width: 100%;
}
.formationInformation .feature_title {
  position: relative;
  font-size: 15px;
  margin-top: 15px;
}

/*********************************/
.formationInformation .sidebarFormation_teacher {
  margin-top: 40px;
}
.formationInformation .teacher_image {
  width: 102px;
  height: 102px;
}
.formationInformation .teacher_image img {
  max-width: 100%;
}
.formationInformation .teacher_title {
  padding-left: 35px;
}
.formationInformation .teacher_position {
  font-size: 14px;
  color: #76777a;
  margin-top: 4px;
}
.formationInformation .teacher_name a {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 700;
  color: #384158;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.formationInformation .teacher_name a:hover {
  color: #14bdee;
}
.formationInformation .teacher_meta_container {
  margin-top: 27px;
}
.formationInformation .teacher_meta:not(:last-child) {
  margin-bottom: 9px;
}
.formationInformation .teacher_meta_title,
.formationInformation .teacher_meta_text span {
  font-size: 14px;
  font-weight: 400;
  color: #76777a;
}
.formationInformation .teacher_meta_text span {
  margin-right: 4px;
}
.formationInformation .teacher_meta_text i {
  color: #14bdee;
}
.formationInformation .teacher_info {
  margin-top: 17px;
}
.formationInformation .teacher_info p {
  line-height: 2;
}
.formationInformation .sidebarFormation_latest {
  margin-top: 31px;
}
.formationInformation .latest:not(:last-child) {
  margin-bottom: 20px;
}
.formationInformation .latest_image div {
  width: 90px;
  height: 74px;
  border-radius: 3px;
  overflow: hidden;
}
.formationInformation .latest_image div img {
  max-width: 100%;
}
.formationInformation .latest_content {
  padding-left: 21px;
  margin-top: -4px;
}
.formationInformation .latest_title a {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 700;
  color: #383749;
  line-height: 1.625;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.formationInformation .latest_title a:hover {
  color: #14bdee;
}
.formationInformation .latest_price {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 700;
  color: #14bdee;
  line-height: 0.75;
  margin-top: 16px;
}
/************************************Responsive***********************/

/************
  1. 1600px
  ************/

@media only screen and (max-width: 1600px) {
}

/************
  2. 1440px
  ************/

@media only screen and (max-width: 1440px) {
}

/************
  3. 1380px
  ************/

@media only screen and (max-width: 1380px) {
}

/************
  3. 1280px
  ************/

@media only screen and (max-width: 1280px) {
}

/************
  4. 1199px
  ************/

@media only screen and (max-width: 1199px) {
  .formationInformation .sidebarFormation {
    padding-left: 20px;
  }
  .formationInformation .sidebarFormation2 {
    padding-left: 20px;
  }
  .formationInformation .review_rating {
    padding-left: 0;
  }
  .formationInformation .review_rating_bars {
    padding-left: 64px;
  }
}

/************
  4. 1100px
  ************/

@media only screen and (max-width: 1100px) {
}

/************
  5. 1024px
  ************/

@media only screen and (max-width: 1024px) {
}

/************
  6. 991px
  ************/

@media only screen and (max-width: 991px) {
  .formationInformation .main_nav,
  .formationInformation .search_button {
    display: none;
  }
  .formationInformation .top_bar_contact_list li i,
  .formationInformation .top_bar_contact_list li > div,
  .formationInformation .login_button a {
    font-size: 12px;
  }
  .formationInformation .login_button {
    width: 140px;
  }
  .formationInformation .hamburger {
    display: inline-block;
    margin-left: 33px;
  }
  .formationInformation .formation_col:not(:last-child) {
    margin-bottom: 40px;
  }
  .formationInformation .formation_info {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .formationInformation .formation_info_item:not(:last-child) {
    margin-bottom: 25px;
  }
  .formationInformation .formation_info_item:not(:last-child)::after {
    display: none;
  }
  .formationInformation .review_rating_bars {
    padding-left: 134px;
  }
  .formationInformation .sidebarFormation {
    padding-left: 0;
    padding-top: 0;
  }
  .formationInformation .newsletter_container {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .formationInformation .newsletter_form_container {
    margin-top: 19px;
  }
  .formationInformation .footer_col:not(:last-child) {
    margin-bottom: 60px;
  }
  .formationInformation .footer_contact,
  .formationInformation .footer_links {
    padding-left: 0;
  }
  .formationInformation .footer_links ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  .formationInformation .footer_mobile {
    float: none;
  }
  .formationInformation .footer_logo_container {
    margin-top: 0;
  }
  .formationInformation .copyright {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .formationInformation .cr_list {
    margin-top: 30px;
  }
  .formationInformation .cr_list li:not(:last-child) {
    margin-right: 20px;
  }
  .formationInformation .copyright div,
  .formationInformation .cr_list li a {
    font-size: 13px;
  }
}

/************
  7. 959px
  ************/

@media only screen and (max-width: 959px) {
}

/************
  8. 880px
  ************/

@media only screen and (max-width: 880px) {
}

/************
  9. 768px
  ************/

@media only screen and (max-width: 768px) {
}

/************
  10. 767px
  ************/

@media only screen and (max-width: 767px) {
  .formationInformation .top_bar {
    display: none;
  }
  .formationInformation .home {
    height: 140px;
  }
  .formationInformation .header.scrolled {
    top: 0px;
  }
  .formationInformation .review_rating {
    padding-top: 0;
    text-align: left;
  }
  .formationInformation .review_rating_bars {
    padding-left: 0;
    margin-top: 40px;
  }
}

/************
  11. 575px
  ************/

@media only screen and (max-width: 575px) {
  .formationInformation h2 {
    font-size: 24px;
  }
  .formationInformation p {
    font-size: 13px;
  }
  .formationInformation .menu {
    width: 100%;
    right: -100%;
  }
  .formationInformation .dropdown_item_select,
  .formationInformation .home_search_button {
    font-size: 12px;
  }
  .formationInformation .tab_panel_text p,
  .formationInformation .tab_panel_bullets li,
  .formationInformation .accordion_panel p {
    font-size: 13px;
  }
  .formationInformation .accordion div {
    font-size: 16px;
  }
  .formationInformation .tab {
    font-size: 12px;
  }
  .formationInformation .dropdown_item_title {
    font-size: 14px;
  }
  .formationInformation .dropdown_item_title span,
  .formationInformation .dropdown_item_title::before {
    font-size: 16px;
  }
  .formationInformation .dropdown_item_title::before {
    top: 0;
  }
  .formationInformation
    .has_children
    > .formationInformation
    .dropdown_item
    > .formationInformation
    .dropdown_item_title::after {
    font-size: 26px;
    top: -7px;
  }
  .formationInformation .dropdown_item_text p {
    font-size: 13px;
  }
  .formationInformation .review_rating_num {
    font-size: 56px;
  }
  .formationInformation .review_rating_stars {
    margin-top: 14px;
  }
  .formationInformation .review_rating_text {
    font-size: 14px;
    margin-top: 6px;
  }
  .formationInformation .comments_list li ul {
    padding-left: 30px;
  }
  .formationInformation .newsletter_form_container {
    width: 100%;
    padding-left: 0;
  }
}

/************
  11. 539px
  ************/

@media only screen and (max-width: 539px) {
}

/************
  12. 480px
  ************/

@media only screen and (max-width: 480px) {
}

/************
  13. 479px
  ************/

@media only screen and (max-width: 479px) {
}

/************
  14. 400px
  ************/

@media only screen and (max-width: 400px) {
}

/********************/

/*********************************
  8. sidebarFormation
  *********************************/
.formationInformation .sidebarFormation {
  width: 100%;
  padding-left: 40px;
}
.formationInformation .sidebarFormation2 {
  width: 100%;
  padding-left: 40px;
}
.formationInformation .sidebarFormation_section:not(:last-child) {
  margin-bottom: 60px;
}
.formationInformation .sidebarFormation_section_title {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 700;
  color: #384158;
  line-height: 0.75;
}

/******************CSS TABS SIRINE***********/

.formationInformation .add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

.formationInformation .btton_nav :focus {
  border: solid;
  color: #213f77;
  border-top: none;
  border-left: none;
  border-right: none;
}
.formationInformation .btton_nav {
  border: none;
}

.formationInformation .btton_nav :active {
  border: solid;
  color: #213f77;
  border-top: none;
  border-left: none;
  border-right: none;
}

.formationInformation .home_search_button {
  width: 180px;
  height: 36px;
  background: #14bdee;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  margin-left: 50px;
}
.formationInformation .home_search_button2 {
  width: 180px;
  height: 36px;
  background: #ef93ff;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  margin-left: 50px;
}
.formationInformation .home_search_button3 {
  width: 180px;
  height: 36px;
  background: #61a86b;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  margin-left: 50px;
}
